<head lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fullcalendar.css') }}">
  <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-ui.custom.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/react-with-addons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/minivents.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/fullcalendar.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/en-gb.js') }}"></script>
  <script src="{{ url_for('static', filename='foo.js') }}"></script>

  <style>
    body {
      margin-top: 40px;
      text-align: center;
      font-size: 14px;
      font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }

    #calendar {
      width: 900px;
      margin: 0 auto;
    }
  </style>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FACT Shift Calendar Webinterface</title>
</head>
