<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
  <div id='calendar'></div>

  <select id="shiftername">
    <option>Please choose a username</option>
    {% for u in usernames %}
      <option value="{{ u['uid'] }}"> {{ u['username'] }} </option>
    {% endfor %}
  </select>

  <select id="role">
    <option>Please choose a role</option>
      {% for r in roles %}
        <option value="{{ r['id'] }}"> {{ r['name'] }} </option>
      {% endfor %}
  </select>

  comments or remarks:
  <a href="https://github.com/fact-project/shiftcalendar">
    github.com/fact-project/shiftcalendar
  </a>
{% endblock %}
