<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if not current_user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li>
                <div class="form-group">
                  <select class="form-control" id="role_select">
                  <option> login to see roles </option>
                  </select>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <select class="form-control" id="username_select">
                  <option> login to see users </option>
                  </select>
                </div>
              </li>
            </ul>
            <form method="POST" action="/login" class="navbar-form">
              <div class="form-group">
                <input id="username" class="form-control" name="username" type="text" value placeholder="username">
                <input id="password" class="form-control" name="password" type="password" value placeholder="password">
              </div>
              <button type="submit" class="btn btn-default">Login</button>
            </form>
            {% else %}
            <ul class="nav navbar-nav">
              <li>
                <div class="form-group">
                  <select class="form-control" id="role_select">
                  {% for r in roles %}
                  <option value="{{ r['id'] }}"> {{ r['name'] }} </option>
                  {% endfor %}
                  </select>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <select class="form-control" id="username_select">
                  {% for u in usernames %}
                  <option value="{{ u['uid'] }}"> {{ u['username'] }} </option>
                  {% endfor %}
                  </select>
                </div>
              </li>
              <li>
                <form action="/logout" class="navbar-form">
                  <button class="btn btn-default">Logout</button>
                </form>
              </li>
            </ul>
            <p class="navbar-text">Logged in as {{current_user.username}}</p>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert {{ category }} alert-dismissible" style="width: 80%; margin-left: 10%;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
              &times;
            </button>
            <strong>{{ message }}</strong>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
